body {
  font-family: Spartan, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: $color-neutral-dark;
  text-align: center;
}

.heading-primary {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1;
  letter-spacing: -0.114rem;
  color: $color-magenta;
  margin-bottom: 1.8rem;
}
