.testimonial {
  max-width: 35rem;
  margin: auto;
  text-align: left;
  color: $color-white;
  background-color: $color-magenta;
  border-radius: 8px;

  @include respond(largest) {
  }

  &--1 {
    margin: 0 auto 1.6rem auto;

    @include respond(largest) {
      margin: 0 auto 3.2rem 0;
    }
  }

  &--3 {
    margin: 1.6rem auto 0 auto;

    @include respond(largest) {
      margin: 3.2rem 0 0 auto;
    }
  }

  &__cite {
    display: flex;
    margin-top: 4rem;
    margin-left: 3.2rem;
  }

  &__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;

    margin-right: 2.3rem;
  }

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__user-name,
  &__user-role {
    font-size: 1.3rem;
    line-height: 1.12;
  }

  &__user-role {
    font-weight: 400;
    color: $color-pink;
  }

  &__quote {
    font-size: 1.3rem;
    letter-spacing: -0.023rem;
    line-height: 1.69230769;

    margin: 2.6rem 3.2rem 3.2rem;
    max-width: 28.6rem;

    @include respond(largest) {
      margin-bottom: 4rem;
    }
  }
}
